/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body{
    font-family: "Open Sans", sans-serif;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.banner-section{
    width: 1600px;
    height: 835px;
    background-color: rgb(255, 248, 243);
    margin: 0 auto;
    background-image: url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: left center;
    margin-bottom: 130px;
}
.navbar-container{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
    align-items: center;
}
.nav-left h1{
    font-size: 45px;
    font-weight: 800;  
}
.nav-right ul{
    display: flex;
    align-items: center;
}
.nav-right ul li{
    list-style: none;
}
.nav-right ul li a{
    text-decoration: none;
    margin-right: 50px;
    color: rgb(71, 71, 71);
    font-size: 20px;
    font-weight: 400;
}
.nav-right ul li button{
    padding: 12px 25px;
    font-size: 18px;
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 5px;
    background: rgb(253, 110, 10);
}
.main-banner-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 195px;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: right bottom;
}
.image-content{
    margin-bottom: -5px;
    margin-right: 30px;
}
.text-content h3{
    color: rgb(71, 71, 71);
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 8px;
}
.text-content h1{
    color: rgb(24, 24, 24);
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.text-content p{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.text-content button{
    padding: 12px 25px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    font-size: 20px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border: none;
    margin-right: 15px;
}
/* banner section styles end */

/* about section start */
.about-container{
    width: 1140px;
    height: 550px;
    margin: 0 auto;
    border-radius: 10px;
    background: rgb(255, 248, 243);
    margin-bottom: 130px;
    border: 1px solid rgb(206, 206, 206);
}
.about-content{
    width: 827px;
    height: 288px;
    border: 2px solid black;
    margin: 0 auto;
    margin-top: 130px;
    background-color: white;
    text-align: center;
}

.about-content h1{
    margin-bottom: 30px;
    color: rgb(24, 24, 24);
    font-size: 35px;
    font-weight: 700;
}
.about-content > p{
    color: rgb(117, 117, 117);
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 25px;
}

.address{
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.address h4{
   color: rgb(71, 71, 71);
   line-height: 0;
}
.address p{
    color: rgb(117, 117, 117);
    margin-bottom: 20px;
}

/* about section end */




















